<div class = 'wrapper'>
<%= month_calendar(events: @services) do |date, services| %>
  <%= day_format(date) %>
    <% services.each do |service| %>
      <div>
       <%=link_to "#{service_duration_format(service)} - #{rehearsal_or_concert(service)} ", service_path(service)%>
      </div>
    <% end %>
<% end %>
</div>