<%= month_calendar(events: @services) do |date, services| %>
  <%= date %>
    <% services.each do |service| %>
      <div>
       <%=link_to "#{rehearsal_or_concert(service)} - #{service_duration_format(service)}", service_path(service)%>
      </div>
    <% end %>
<% end %>