<%= month_calendar(events: @services) do |date, services| %>
  <%= day_format(date) %>
    <% services.each do |service| %>
      <div>
       <%=link_to "#{rehearsal_or_concert_abbreviated(service)} #{service_duration_format(service)}", service_path(service)%>
      </div>
    <% end %>
<% end %>
<br>
<%= link_to "New Service", new_service_path %>
