.simple-calendar {
    
    .calendar-title{
        font-size: 55px;
    }
    .calendar-heading{
        text-align: left
    }

    .calendar-heading a{
        float: right;
        display: inline-grid;
    }

    .day {
        }
  
    .wday-0 {
        
        a{
        background: none;
        color: black;
        }
    }
    .wday-1 {
        width: auto;
        a{
            background: none;
            color: black;
            
            }
    }
    .wday-2 {
        a{
            background: none;
            color: black;
            
            }
    }
    .wday-3 {
        a{
            background: none;
            color: black;
        
            }
    }
    .wday-4 {
        a{
            background: none;
            color: black;
            
            }
    }
    .wday-5 {
        a{
            background: none;
            color: black;
           
            }
    }
    .wday-6 {
        a{
            background: none;
            color: black;
                        }
    }
  
    .today {}
    .past {}
    .future {}
  
    .start-date {}
  
    .prev-month {}
    .next-month { }
    .current-month {

    }
  
    .has-events {}
  }